* {
  box-sizing: border-box;
  margin: 0px;
  font-family: SF Pro Display;
}

/*********************************************/

.archive__inner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 20px 160px 50px;
}

.archive__inner__1 {
  width: 530px;
}

.archive__inner__2 {
  width: 530px;
}

.back {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 70px;
  font-family: SF Pro Display;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #999999;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.back img {
  filter: invert(69%) sepia(10%) saturate(5%) hue-rotate(354deg) brightness(88%)
    contrast(84%);
  width: 14px;
  height: 14px;
}

.back:hover {
  filter: invert(15%) sepia(74%) saturate(4513%) hue-rotate(291deg)
    brightness(68%) contrast(114%);
  cursor: pointer;
}

/******************Search********************/

.search {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 10px;
  margin: 33px 0px;
}

.filtration {
  padding-bottom: 8px;
}

.search__bar {
  width: 300px;
  height: 44px;
  display: flex;
  align-items: center;
  border-radius: 60px;
  border: 2px black solid;
  padding: 10px;
  margin-left: 28px;
}

.search__bar input {
  flex: 1;
  font-family: SF Pro Display;
  background: transparent;
  outline: none;
  font-weight: 410;
  font-size: 14px;
  width: 308px;
  height: 44px;
  border: none;
  padding-left: 10px;
}

.search__bar button img {
  width: 20px;
}

.search__bar button {
  border: 0;
  background: transparent;
  border-radius: 100%;
  height: 30px;
  cursor: pointer;
  transition: 0.2s;
}

.search__bar button:hover {
  background: #f4dea1;
}

/******************Table********************/

.table {
  margin-bottom: 18px;
}

table {
  width: 454px;
  height: 372px;
  border-collapse: collapse;
}

th {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  border: 1px solid #f1f1f1;
}

td {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  border: 1px solid #f1f1f1;
}

td:nth-child(1) {
  text-align: center;
}

td:nth-child(2) {
  padding-left: 8px;
}

td:nth-child(2) a:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #2d2652;
}

/******************Ethic********************/

.ethic1 {
  width: 454px;
  height: 46px;
  border-radius: 0px 30px 30px 0px;
  background-color: red;
  margin-bottom: 13px;
}

.ethic1 a {
  display: block;
  width: 454px;
  font-family: Metrophobic;
  padding: 10px 41px 11px 29px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  text-underline-offset: 5px;
  color: white;
}

.ethic1:hover {
  cursor: pointer;
}

.ethic2 {
  width: 454px;
  height: 46px;
  border-radius: 0px 30px 30px 0px;
  background: #2d2652;
  margin-bottom: 13px;
}

.ethic2 a {
  display: block;
  width: 454px;
  color: #ffffff;
  padding: 10px 186px 11px 29px;
  font-family: Metrophobic;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
}

.ethic2 a:hover {
  cursor: pointer;
}

/******************Ethic********************/

.council {
  position: relative;
  transition: 0.2s;
}

.council {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 454px;
  height: 46px;
  padding: 12px 13px 12px 29px;
  font-family: Metrophobic;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  background: #2d2652;
  border-radius: 0px 15px 15px 0px;
  color: #ffffff;
  align-items: center;
}

i {
  font-size: 40px;
}

.council.rotate i {
  transform: rotate(90deg);
  transition: all 0.3s ease;
}

.council.rotate__end i {
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.sub__menu {
  position: relative;
  margin-top: 14px;
  display: block;
  animation: growDown 400ms ease-in-out forwards;
  transform-origin: top center;
}

.council.sub__menu__end {
  animation: growUp 400ms ease-in-out forwards;
  transform-origin: top center;
}

.sub__menu__hide {
  display: none;
}

.members {
  width: 457px;
  padding: 14px 10px;
  border-radius: 8px;
  border: 2px solid #f1f1f1;
  background-color: white;
}

.members p {
  font-family: SF Pro Display;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #666666;
}

/******************Text********************/

.text {
  align-items: center;
  width: 457px;
  height: 574px;
  border-radius: 8px;
  border: 1px solid #f1f1f1;
  background-color: white;
}

.text h3 {
  text-align: center;
  margin: 22px 38px;
}

.text1 {
  width: 455px;
  height: 46px;
  padding: 2px 8px;
  background-color: #121d7c;
}

.text1 p {
  font-family: SF Pro Display;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.text2 {
  margin: 30px 10px 23px;
}

.text2 p {
  width: 400px;
  font-family: SF Pro Display;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #797979;
}

.text3 {
  width: 275px;
  margin-left: 1px;
  background-color: #e81b1b;
  border-radius: 0px 5px 5px 0px;
}

.text3 p {
  font-family: SF Pro Display;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #ffffff;
  padding: 0 8px;
}

.text3 span {
  color: #ffffff;
  font-weight: 500;
}

.text4 {
  margin: 24px 10px;
}

.text4 p {
  font-family: SF Pro Display;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: #797979;
}

b {
  font-weight: 700;
}

.text5 {
  margin: 0px 10px;
}

.text5 p {
  font-family: SF Pro Display;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: #797979;
}
