.rules_main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 240px;
  font-size: 16px;
  h3 {
    font-weight: bold;
    font-size: 20px;
    width: 700px;
    margin-top: 10px;
    text-align: center;
  }
  p {
    margin: 15px 0px 0px 0px;
    text-align: justify;
  }
  span {
    display: block;
    text-indent: 50px;
  }
  h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0px 0px 0px;
    text-align: center;
  }
  .center_text {
    text-align: center;
  }
}

.blue_text {
  display: inline !important;
  text-indent: 0px !important;
  color: #120ec9;
}
