// * {
//   text-align: center;
// }
.rules_main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 240px;
  font-size: 17px;
  h3 {
    font-size: 24px;
    width: 700px;
    margin-top: 10px;
    text-align: center;
  }
  p,
  h4 {
    margin: 15px 0px 0px 0px;
  }
  .center_text {
    text-align: center;
  }
}

.blue_text {
  color: #120ec9;
}
