.container {
    margin: 20px 160px 50px;
}
  
.back {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 70px;
    font-family: SF Pro Display;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: #999999;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.back img {
    filter: invert(69%) sepia(10%) saturate(5%) hue-rotate(354deg) brightness(88%)
        contrast(84%);
    width: 14px;
    height: 14px;
}

.back:hover {
    filter: invert(15%) sepia(74%) saturate(4513%) hue-rotate(291deg)
        brightness(68%) contrast(114%);
    cursor: pointer;
}

/************************************************/

.ethics_inner {
    margin: 0px 70px;
}

.title h3 {
    font-family: SF Pro Display;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 0rem !important;
}

.title p {
    font-family: SF Pro Display;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000AB;
    margin: 5px auto;
}

.text p:nth-child(1) {
    font-family: SF Pro Display;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.02em;
    text-indent: 80px;
}


ol, ul {
    padding: 5px 0px 5px 18px;
}

li {
    font-family: SF Pro Display;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.02em;
    text-indent: 5px;
}