* {
    box-sizing: border-box;
    margin: 0px;
    font-family: SF Pro Display;
}

/*********************************************/

.archive__inner {
    margin: 20px 180px 50px;
}

.back {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 70px;
    font-family: SF Pro Display;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: #999999;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.back img {
    filter: invert(69%) sepia(10%) saturate(5%) hue-rotate(354deg) brightness(88%) contrast(84%);
    width: 14px;
    height: 14px;
}

.back:hover {
    filter: invert(15%) sepia(74%) saturate(4513%) hue-rotate(291deg) brightness(68%) contrast(114%);
    cursor: pointer;
}

.archive__inner .category {
    background-color: #F5F5F5;
    width: 472px; 
    border-radius: 7px
}

.category h3 {
    font-family: SF Pro Display;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    width: 532px;
    height: 29px;
    padding: 5px 203px 5px 24px;
    margin: 42px 0px 50px;
}

/******************Search********************/

.search {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 10px;
}

.search__bar {
    width: 300px;
    height: 44px;
    display: flex;
    align-items: center;
    border-radius: 60px;
    border: 2px black solid;
    padding: 10px;
    margin-left: 10px;
}

.search__bar input {
    flex: 1;
    font-family: SF Pro Display;
    background: transparent;
    outline: none;
    font-weight: 410;
    font-size: 14px;
    width: 308px;
    height: 44px;
    border: none;
    padding-left: 10px;
}

.search__bar button img{
    width: 20px;
}

.search__bar button {
    border: 0;
    background: transparent;
    border-radius: 100%;
    height: 30px;
    cursor: pointer;
    transition: .2s;
}

.search__bar button:hover {
    background: #F4DEA1;
}

/******************Tools**********************/
.category__tools {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
}

#ct_child2 {
    width: 570px;
}

.category__tool {
    position: relative;
    width: 276px;
    height: 340px;
    border-radius: 12px;
    transition: .2s;
    align-items: center;
}

.category__tool:hover {
    border: 1px solid blue;
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.category__tool__card {
    position: absolute;
    background-color: #F8FAFA;
    border-radius: 12px 12px 0px 0px;
}

#img4 {
    padding: 26px 67px 0px 63px;
}

.category__tool__text {
    position: absolute;
    font-family: SF Pro Display;
    font-size: 16px;
    font-weight: 710;
    line-height: 16px;
    width: 274px;
    height: 159px;
    text-align: left;
    padding: 16px;
    background-color: #f5f5f5;
    border-radius: 0px 0px 12px 12px;
    margin-top: 178px;
}

.category__tool__text p {
    font-size: 13px;
    font-weight: 710;
    background-color: #E8E8E8;
    width: 87px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 40px;
}

.category__tool__text h4 {
    font-size: 17px;
    padding: 22px 0px;
}

.category__tool__text a {
    color: #585858;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.category__tool__text a:hover {
    color: purple;
}

.pagination__container {
    display: flex;
    margin: 50px auto;
    width: 100px;
    justify-content: space-evenly;
  }
  
  #pagination_btn {
    border-radius: 30px;
    width: 42px;
    height: 42px;
    border: 1px solid #e0dfdf;
  }
  
  #pagination_btn:hover {
    background-color: #FBFBFB;
  }