* {
    box-sizing: border-box;
    margin: 0px;
    font-family: SF Pro Display;
}

/******************title__area*******************/
.title__area {
    position: relative;
}

.title__area__inner {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background: #2D2652;
    height: 379px;
    margin: 200px 0px;
    padding: 0px 100px;
}

.title__area__inner__text {
    width: 617px;
    height: 249px;
    color: #FFFFFF;
}

.title__area__inner__text h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0em;
    width: 480px;
    margin: 0px;
}

.title__area__inner__text p{
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
    letter-spacing: -0.02em;
    width: 420px;
    margin: 23px 0px;
}

.title__area__inner__text button {
    width: 95px;
    height: 51px;
    padding: 16px, 20px, 16px, 20px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 100;
    line-height: 19px;
    letter-spacing: 0em;
    border: none;
    background: #FFFFFF;
    transition: .2s;
}

.title__area__inner__text button:hover {
    transform: translateY(-5px);
    background: #f34b75;
    cursor: pointer;
    border: 2px solid #6f4150;
}

.title__area__inner__img {
    position: relative;
}

.title__area__inner__img img {
    position: absolute;
    width: 492px;
    height: 494px;
    top: 143px;
    left: 817.5px;
    border-radius: 322px;
    transform: translate(-795px,-122px);
}

.circle {
    width: 536px;
    height: 536px;
    top: 122px;
    left: 797px;
    border: 8px;
    border-radius: 50%;;
    background: linear-gradient(0deg, #2D2652, #2D2652);
}

.circle2 {
    position: absolute;
    width: 517px;
    height: 517px;
    top: 122px;
    left: 797px;
    border: 8px;
    border-radius: 50%;;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    transform: translate(-788px, -113px);
}


/******************content*******************/
.content {
    position: relative;
    width: 1224px;
    height: 491px;
    top: 120px;
    margin: auto;
}

.content__inner__frame__text {
    width: 451px;
    height: 348px;
    padding: 40px;
}

.content__inner__title h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 66px;
}

.content__inner__frame {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.content__inner__frame__text h2 {
    width: 371px;
    height: 123px;
    font-size: 34px;
    font-weight: 700;
    line-height: 41px;
    text-align: left;
}

.content__inner__frame__text p {
    width: 340px;
    height: 57px;
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
    margin: 20px 0px;
    border: none;
}

.content__inner__frame__text button {
    font-size: 16px;
    font-weight: 300;
    width: 133px;
    height: 40px;
    padding: 16px, 20px, 16px, 20px;
    border-radius: 8px;
    color: white;
    background-color: black;
    transition: .2s;
}

.content__inner__frame__text button:hover {
    transform: translateY(-5px);
    color: black;
    background: wheat;
    cursor: pointer;
    border: 2px solid black;
}

.content__inner__frame img {
    width: 629px;
    height: 334px;
    border-radius: 16px;
}