.list_main {
  margin: 0px auto;
}

.list_main_div {
  display: flex;
  flex-direction: column;
  margin: 0px 160px;
  width: 1185px;
}

.pagin {
  margin: auto;
  padding: 25px 0px;
}

.list_courses_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.list_sort_div {
  display: flex;
  margin-top: 20px;
}

/* .sort_btn {
  color: rgb(106, 90, 205);
  background-color: white;
  border: none;
  border-radius: 12px;
  margin-left: 10px;
  padding: 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px;
}

.sort_btn:hover {
  background-color: rgb(106, 90, 205);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
} */
