* {
  font-family: SF Pro Display;
}
.table_a {
  text-decoration: none;
  color: black;
}

.tableBody button {
  font-size: 14px;
  font-weight: 300;
  width: 130px;
  height: 30px;
  padding: 17px, 20px;
  border: 0px;
  color: white;
  transition: 0.2s;
}

#approve {
  background-color: rgb(27, 198, 27);
  margin-bottom: 5px;
  border-radius: 40px;
}

#approve:hover {
  background-color: green;
}

#decline {
  background-color: red;
  border-radius: 40px;
}

#decline:hover {
  background-color: rgb(151, 3, 3);
}

.text_input {
  display: flex;
  width: 400px;
  padding: 16px 20px;
  gap: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sub_check {
  margin-top: 15px !important;
  border-color: black !important;
  color: black !important;
}
.status-cell {
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 4px 8px;
  display: inline-block;
}

.status-pending {
  color: #b36b00;
  background-color: #fff4e5;
}

.status-payment {
  color: #00529b;
  background-color: #e5f1ff;
  cursor: pointer;
}

.status-approved {
  color: #0a7d0a;
  background-color: #e6f4ea;
}

.status-declined {
  color: #a50000;
  background-color: #ffe5e5;
}
