* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal_container {
  width: 500px;
  margin: 0 auto;
}

.modal {
  position: fixed;
  display: block;
  padding-top: 90px;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_inner {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 500px;
  height: 570px;
  background: linear-gradient(
    rgb(253, 217, 217),
    rgb(246, 194, 195),
    rgb(248, 138, 138)
  );
  box-shadow: rgba(181, 55, 76, 0.4) 5px 5px, rgba(188, 36, 61, 0.3) 10px 10px,
    rgba(188, 36, 61, 0.2) 15px 15px, rgba(188, 36, 61, 0.1) 20px 20px,
    rgba(240, 46, 88, 0.05) 25px 25px;
}

.form_bar {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 430px;
}

.email {
  background: #ffebe4;
  flex: 0;
  border: 1px solid rgb(171, 167, 168);
  border-radius: 12px;
  outline: none;
  margin: 10px 0px;
  padding: 15px;
  color: #b04a4a;
  font-size: 20px;
  margin-bottom: 2px;
}

.text {
  background: #ffebe4;
  flex: 0;
  border: 1px solid rgb(171, 167, 168);
  border-radius: 12px;
  outline: none;
  margin: 10px 0px;
  padding: 15px;
  color: #b04a4a;
  font-size: 20px;
}

.modal_footer button {
  width: 180px;
  height: 50px;
  margin: 15px 10px 0px;
  border-radius: 15px;
  transition: 0.2s;
}

button {
  color: #b04a4a;
  background-color: #ffebe4;
  border: 1px solid rgb(255, 255, 255);
  outline: none;
  text-align: center;
  font-weight: bold;
  border-radius: 50px !important;
  font-size: 17px !important;
  height: 50px !important;
  width: 140px !important;
}

.heart img {
  position: relative;
  width: 200px;
  height: 150px;
}

.heart button {
  position: absolute;
  display: flex;
  margin-top: -150px;
  margin-left: 300px;
  border: none;
  background: none;
  font-size: 30px;
}

.modal_footer button:nth-child(1):hover {
  color: white;
  transform: translateX(-10px);
  background-color: #e48488;
}

.modal_footer button:nth-child(2):hover {
  color: white;
  transform: translateX(10px);
  background-color: #d55062;
}

.anonymous {
  font-size: 11px;
  color: #926d6d;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 10px;
}

@media (max-width: 542px) {
  .modal_container {
    width: 350px;
  }
  .modal_inner {
    width: 350px;
    height: 400px;
  }
  .form_bar {
    width: 300px;
  }
  .email {
    padding: 10px;
    font-size: 15px;
    margin: 0px;
  }
  .text {
    padding: 10px;
    font-size: 15px;
    margin: 0px;
  }
  .heart img {
    width: 150px;
    height: 130px;
  }
  button {
    height: 30px !important;
    width: 100px !important;
    font-size: 14px !important;
  }
  .heart button {
    margin-top: -120px;
    margin-left: 200px;
  }
}
